---
layout: default
title: "Authenticated"
permalink: /authenticated
---

<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-12 grid-margin">


                        <div class="card">
                            <!--<div class="card-body">
                                <div class="row" style="float:right;">
                                    <div class="row">
                                        <div class="test">
                                            <form method="GET" action="/materials-management">
                                                <button type="submit" class="btn btn-primary btn-lg">Materiales</button>
                                            </form>
                                        </div>

                                        <div class="test">
                                            <form method="GET" action="/inventory-management">
                                                <button type="submit" class="btn btn-primary btn-lg">Inventarios
                                                </button>
                                            </form>
                                        </div>

                                        <div class="test">
                                            <form method="GET" action="/movements-material">
                                                <button type="submit" class="btn btn-primary btn-lg">Movimientos
                                                </button>
                                            </form>
                                        </div>

                                    </div>

                                    <div style="padding-left: 10px;">
                                        <form action="#">
                                            <div class="form-group d-flex search-field">
                                                <input type="text" class="form-control" placeholder="Search Here">
                                                <button class="btn btn-primary ml-3">Search</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>-->

<!--                            <div class="row" style="padding-left: 20px; padding-right: 20px;">-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                                            <div class="card-body">
                                                <h6 class="font-weight-normal">Total Materiales FWA</h6>
                                                <h2 class="mb-0" th:text="${liCountFWA}">28893</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                                        <div class="card bg-gradient-danger text-white text-center card-shadow-danger">
                                            <div class="card-body">
                                                <h6 class="font-weight-normal">Total Materiales RAN</h6>
                                                <h2 class="mb-0" th:text="${liCountRAN}">28893</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                                        <div class="card bg-gradient-warning text-white text-center card-shadow-warning">
                                            <div class="card-body">
                                                <h6 class="font-weight-normal">Total Materiales WiFi</h6>
                                                <h2 class="mb-0" th:text="${liCountWiFi}">28893</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                                        <div class="card bg-gradient-info text-white text-center card-shadow-info">
                                            <div class="card-body">
                                                <h6 class="font-weight-normal">Total Materiales Cell-Fi</h6>
                                                <h2 class="mb-0" th:text="${liCountCellFi}">28893</h2>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <!--<div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Materiales</h4>
                                <div class="ct-chart ct-perfect-fourth" id="chart-material-by-store-inventory"></div>
                            </div>
                        </div>
                    </div>-->

                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Materiales</h4>
                                <p class="card-description">Grafica de materiales por Bodega y Inventarios.</p>
                                <div id="js-legend" class="chartjs-legend mt-4 mb-5 analytics-legend"></div>
                                <div class="demo-chart">
                                    <canvas id="chart-mat-by-store-inventory-app"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Materiales por Inventario</h4>
                                <div id="chart-material-all"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">% Movimientos por Usuario</h4>
                                <div class="flot-chart-container">
                                    <div id="pie-chart-user" class="flot-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Materiales en Bodega</h4>
                                <div class="ct-chart ct-perfect-fourth" id="ct-chart-stacked-bar-app"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Materiales en Bodega</h4>
                            <div class="ct-chart ct-perfect-fourth" id="ct-chart-stacked-bar-ap"></div>
                        </div>
                    </div>
                </div>
                </div>
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>

