---
layout: default
title: "Authenticated"
permalink: /authenticated
---

<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Total invoices</h6>
                                <h2 class="mb-0">28893</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                        <div class="card bg-gradient-danger text-white text-center card-shadow-danger">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Total invoices</h6>
                                <h2 class="mb-0">28893</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                        <div class="card bg-gradient-warning text-white text-center card-shadow-warning">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Total invoices</h6>
                                <h2 class="mb-0">28893</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                        <div class="card bg-gradient-info text-white text-center card-shadow-info">
                            <div class="card-body">
                                <h6 class="font-weight-normal">Total invoices</h6>
                                <h2 class="mb-0">28893</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Monthly Analytics</h4>
                                <p class="card-description">Products that are creating the most revenue and their sales
                                    throughout the year and the variation in behavior of sales.</p>
                                <div id="js-legend" class="chartjs-legend mt-4 mb-5 analytics-legend"></div>
                                <div class="demo-chart">
                                    <canvas id="dashboard-monthly-analytics"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>

