---
layout: default
title: "clients"
permalink: /clients
---

{% include navbarTop.html %}
<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item active">Clientes</li>
                    </ol>
                    <div class="alert alert-danger text-center" th:if="${message}" th:text="${message}"></div>
                    <div class="alert alert-success text-center" th:if="${message_succefull}" th:text="${message_succefull}"></div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Clientes Totales
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-striped">
                                <thead >
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>DIRECCION</th>
                                    <th>TELEFONO</th>
                                    <th>NOTA</th>
                                    <th>ACTIVO</th>
                                    <th>OPCION</th>
                                    <th>OPCION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  th:each="client : ${client}">
                                    <th scope="row" th:text="${client.id}">1</th>
                                    <td th:text="${client.name}">neo</td>
                                    <td th:text="${client.address}">6</td>
                                    <td th:text="${client.phone}">Otto</td>
                                    <td th:text="${client.nota}">6</td>
                                    <td th:text="${client.enabled} ? 'SI' : 'NO'">K</td>
                                    <td>
                                        <div>
                                            <form  th:action="@{/editClient(id=${client.id})}" th:if="${user.typeuser} == 'admin'" method="post">
                                                <button type="submit" class="btn btn-warning">EDITAR</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <form  th:action="@{/delete_client(id=${client.id})}" th:if="${user.typeuser} == 'admin'" method="post">
                                                <button  type="submit" class="btn btn-danger">ELIMINAR</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-footer d-flex align-items-center justify-content-center" th:if="${user.typeuser} == 'admin'">
                                    <a class="medium text-white" href="/register-client">Crear Cliente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
