---
layout: default
title: "establishments wifi hlamos"
permalink: /establishments
---


{% include navbarTop.html %}
<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item active">Sucursales</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Sucursales
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Sucursales</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="client : ${clients}">
                                    <td th:text="${client.name}"></td>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nombre</th>
                                                <th>Producto</th>
                                                <th>Operativo</th>
                                                <th>Ultima Milla</th>
                                                <th>APs</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="establishment : ${client.establishments}">
                                                <th scope="row" th:text="${establishment.id}">1</th>
                                                <td th:text="${establishment.nameestablishment}">Nombre</td>
                                                <td th:text="${establishment.product}">producto</td>
                                                <td th:text="${establishment.status} ? 'SI' : 'NO'">Operativo</td>
                                                <td th:text="${establishment.lastmille}">UM</td>
                                                <td th:text="${establishment.countap}">cant aps</td>
                                            <td>
                                                <form th:action="@{/productos/eliminar}" th:if="${user.typeuser} == 'admin'" method="post">
                                                    <input type="hidden" name="id" th:value="${client.id}"/>
                                                    <button type="submit" class="btn btn-warning">EDITAR <i class="fa fa-edit"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-footer d-flex align-items-center justify-content-center" th:if="${user.typeuser} == 'admin'">
                                    <a class="medium text-white" href="/register-establishments">Crear Sucursal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
