---
layout: default
title: "Inventario Operaciones"
permalink: /inventory-management
---

<div class="container-scroller">

  {% include container.html %}


  {% include navbarTop.html %}

  <div class="container-fluid page-body-wrapper">

    {% include navbarSide.html %}

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row grid-margin">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

                <h4 class="card-title">Inventarios</h4>

                <div class="d-flex table-responsive">
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-light"><i
                            class="mdi mdi-alert-circle-outline"></i></button>
                  </div>
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i>
                    </button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i>
                    </button>
                    <button type="button" class="btn btn-light"><i
                            class="mdi mdi-dots-vertical"></i></button>
                  </div>
                </div>

                <div class="table-responsive" style="padding-top: 20px;">
                  <table id="order-listing" class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Año</th>
                      <th>Cant. Materiales</th>
                      <th>Cant. Usada</th>
                      <th>Cant. Disponible</th>
                      <th>Opcion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${DataInventoryList}">
                      <th scope="row" th:text="${data.id}">Id</th>
                      <td th:text="${data.name}">nombre</td>
                      <td th:text="${data.year}">año</td>
                      <td th:text="${data.count}">total</td>
                      <td th:text="${data.countUsed}">Cant. Usada</td>
                      <td th:text="${data.countEnabled}">Cant. disponible</td>
                      <td>
                        <div>
                          <form  th:action="@{/search_inventory(id=${data.id})}" method="post">
<!--                            <button  type="submit" class="btn btn-success">ver</button>-->
                            <button type="submit" class="btn btn-light">
                              <i class="mdi mdi-eye text-primary"></i>Ver
                            </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </div>
</div>
