---
layout: default
title: "licences wifi"
permalink: /licenses-search
---
{% include navbarTop.html %}
<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-info text-white mb-4">
                                <div class="card-body">Cant. en uso</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Cant. disponible</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Cant. por vencer</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Cant. vencidas</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Licenciamiento #
                        </div>
                        <div class="table-responsive">
                            <table id="datatablesSimple" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Detalle Meraki</th>
                                    <th>Detalle Portal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="client : ${data}">
                                    <td th:text="${client.client.name}"></td>


                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Sucursal</th>
                                                <th>Lic.</th>
                                                <th>Activa</th>
                                                <th>Fec. Venc.</th>
                                                <th>N° Orden</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="detail : ${client.licenseMeraki}">
                                                <td th:text="${client.nameestablishment}"></td>
                                                <td th:text="${detail.license}"></td>
                                                <td th:text="${detail.enabled} ? 'SI' : 'NO'"></td>
                                                <td th:text="${detail.date_expired}"></td>
                                                <td th:text="${detail.order.ordernumber}"></td>
                                            </tr>
                                            <tr>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Sucursal</th>
                                                <th>Lic.</th>
                                                <th>Activa</th>
                                                <th>Fec. Venc.</th>
                                                <th>N° Orden</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="portals : ${client.licensePortals}">
                                                <td th:text="${client.nameestablishment}"></td>
                                                <td th:text="${portals.license}"></td>
                                                <td th:text="${portals.enabled} ? 'SI' : 'NO'"></td>
                                                <td th:text="${portals.date_expired}"></td>
                                                <td th:text="${portals.order.ordernumber}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
