---
layout: default
title: "login wifi hlamos"
permalink: /loginback
---


<div class="row justify-content-center">
  <div class="col col-md-6 text-center">
    <h3 class="login-heading mb-4">Login</h3>
    <form method="post" th:action="@{/login}">
      <!--            <h1 class="display-4 py-4">Iniciar Sesion</h1>-->
      <div class="alert alert-danger text-center" th:if="${param.error}">
        Invalido usuario y contraseña
      </div>
      <div class="alert alert-success text-center" th:if="${param.logout}">
        usted ha sido desconectado
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user text-info"></i>
                    </span>
        </div>
        <input type="text" class="form-control" name="username" placeholder="usuario">
      </div>
      <div class="input-group my-3">
        <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock text-info"></i>
                    </span>
        </div>
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Iniciar Sesion</button>
      <!--            <button type="submit" class="btn  btn-primary btn-block">Iniciar Sesion</button>-->
    </form>
  </div>
</div>
