---
layout: default
title: "Gestionar Materiales"
permalink: /materials-management
---


<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">

                    <!-- Modal -->
                    <div class="modal fade" id="modal_material_view" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Materiales</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="table-responsive">
                                        <div id="js-grid-mat"></div>

                                        <table id="tablaPersonal" class="table table-bordered"
                                               style="width: 100%;"></table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Cerrar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 grid-margin grid-margin-md-0 stretch-card">
                            <div class="card">

                                <div class="template-demo" style="
                                            padding-left: 25px;
                                            padding-right: 25px;
                                            padding-top: 25px;
                                            padding-bottom: 25px;
                                        " th:if="${user.typeuser} == 'admin' OR ${user.typeuser} == 'superuser'">

                                    <form method="GET" action="/register-material">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            <i class="mdi mdi-table-edit"></i>
                                            Crear Material
                                        </button>
                                    </form>

                                </div>

                                <div class="card-body text-center">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th class="pl-0">Bodega</th>
                                            <th class="text-right">Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data : ${dataMaterialCountByStore}">
                                            <td class="pl-0" th:text="${data.name}">name</td>
                                            <td class="pr-0 text-right">
                                                <div th:text="${data.count}" class="badge badge-pill badge-success">4
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="border-top pt-3">
                                        <div class="row">
                                            <p class="mt-4 card-text">
                                                En esta lista podran encontrar la cantidad total de materiales
                                                existentes por bodega a nivel nacional de la empresa.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 grid-margin grid-margin-md-0 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Bodegas</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="pt-1 pl-0">
                                                    Nombre
                                                </th>
                                                <th class="pt-1">
                                                    Disponible
                                                </th>
                                                <th class="pt-1">
                                                    Opcion
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="data : ${dataMaterialByStore}">
                                                <td class="py-1 pl-0">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ml-3">
                                                            <p class="mb-2" th:text="${data.name}">Bodega</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td th:text="${data.enabled} ? 'SI' : 'NO'">
                                                    Web App
                                                </td>
                                                <td>
                                                    <div>
                                                        <form th:action="@{/materials-detail(id=${data.id})}"
                                                              method="post">
                                                            <button type="submit" class="btn btn-light">
                                                                <i class="mdi mdi-eye text-primary"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>

