---
layout: default
title: "Gestionar Materiales"
permalink: /materials-management
---


<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">

                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Herramientas</h4>
                                <div class="template-demo">

                                    <form method="GET" action="/register-material">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            <i class="mdi mdi-settings"></i>
                                            Crear Material
                                        </button>
                                    </form>



                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-settings"></i>
                                        Buscar Material
                                    </button>

                                    <!--<button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-nfc-variant"></i>
                                        Bodegas
                                    </button>

                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-vector-square"></i>
                                        Fabricantes
                                    </button>

                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-account"></i>
                                        Responsables
                                    </button>

                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-view-list"></i>
                                        Inventarios
                                    </button>

                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        <i class="mdi mdi-vector-polyline"></i>
                                        Movimientos
                                    </button>-->

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Materiales</h4>
                                <div class="template-demo">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th class="pl-0">Bodega</th>
                                            <th class="text-right">Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data : ${dataMaterialCountByStore}">
                                            <td class="pl-0" th:text="${data.name}">name</td>
                                            <td class="pr-0 text-right" ><div th:text="${data.count}"class="badge badge-pill badge-warning">4</div></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bodegas</h4>
<!--                                <p class="card-description">Materiales disponibles en Bodegas</p>-->
                                <div class="template-demo">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th class="pl-0">Bodega</th>
                                            <th class="text-center">Opción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data : ${dataMaterialByStore}">
                                            <th style="visibility:collapse; display:none;" scope="row" th:text="${data.id}">Id</th>
                                            <td class="pl-0" th:text="${data.name}">Store</td>
                                            <td class="pr-0 text-center" style="
                                                border-top-width: 0px;
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                            ">
                                                <div>
                                                    <form  th:action="@{/searchMaterialByStore(id=${data.id})}" method="post">
                                                        <button type="submit" class="btn btn-material-view">
                                                            Ver
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>

