---
layout: default
title: "Generadores"
permalink: /generator-management
---


<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div>

                    <!-- Modal INI -->
                   <div class="modal fade" id="modal_generator_hist_view" role="dialog">
                        <div class="modal-dialog modal-lg">


                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Historico Abastecimiento</h4>
                                </div>
                                <div class="modal-body">
                                    <button id="btnExportExcel" class="btn btn-success mb-3">Exportar a Excel</button>
                                    <!--<button id="btnClearFilters" class="btn btn-secondary mb-3">Limpiar filtros</button>-->
                                    <div id="js-grid-generator_hist"></div>

                                    <!-- <div class="table-responsive">
                                         <div id="js-grid-generator_hist"></div>

                                         <table id="tableGenerator" class="table table-bordered"
                                                style="width: 100%;"></table>
                                    </div>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Cerrar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Modal FIN-->


                    <div class="row grid-margin">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Generadores</h4>
                                    <div class="d-flex table-responsive">
                                        <div class="btn-group mr-2" th:if="${user.typeuser} == 'admin'">
                                            <a class="btn btn-sm btn-primary" href="/register-generator" role="tab" aria-controls="home-2" aria-selected="true">
                                                <i class="mdi mdi-plus-circle-outline"></i> Crear
                                            </a>
                                        </div>
                                        <div class="btn-group mr-2">
                                            <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                                            <button type="button" class="btn btn-light"><i class="mdi mdi-delete-empty"></i></button>
                                        </div>
                                        <div class="btn-group mr-2">
                                            <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
                                        </div>


                                    </div>
                                    <div class="table-responsive mt-2">
                                        <table id="order-listing" class="table mt-3 border-top"  >
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Region</th>
                                                <th>Tanque (Gal)</th>
                                                <th>Nivel Actual %</th>
                                                <th>Recargar</th>
                                                <th>Opciones</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="mobilGenerator : ${mobilGenerators}">
                                                <td th:text="${mobilGenerator.site.id}">sitio</td>
                                                <td th:text="${mobilGenerator.site.name}">site name</td>
                                                <td th:text="${mobilGenerator.province.region}">Region</td>
                                                <td th:text="${mobilGenerator.tankLevel}">Tanque (Gal)</td>
                                                <td th:text="${mobilGenerator.currentLevel +' %'}">Nivel Actual</td>
                                                <td th:text="${mobilGenerator.refill +' Gal.'}">Recargar</td>
                                                <td>
                                                    <div class="row">
                                                        <div>
                                                            <button type="button" class="btn btn-light" th:onclick="searchGeneratorHistById([[${mobilGenerator.site.id}]])">
                                                                <i class="mdi mdi-eye text-primary"></i>
                                                            </button>
                                                        </div>

                                                       <!-- <div>
                                                            <form  th:action="@{/register-generator-detail/{id}(id=${data.id})}" th:if="${user.typeuser} == 'admin' OR ${user.typeuser} == 'superuser'" method="get">
                                                                <button type="submit" class="btn btn-light"><i class="mdi mdi-plus-circle text-primary"></i></button>
                                                            </form>
                                                        </div>
                                                        -->

                                                        <div>
                                                            <form  th:action="@{/register-generator-detail}" method="get"
                                                                   th:if="${user.typeuser} == 'admin' OR ${user.typeuser} == 'superuser'">
                                                                <input type="hidden" name="id" th:value="${mobilGenerator.id}">
                                                                <button type="submit" class="btn btn-light"><i class="mdi mdi-plus-circle text-primary"></i></button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>

