---
layout: default
title: "ModelsAP"
permalink: /modelswitch
---

{% include navbarTop.html %}

<div>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      {% include navbarSide.html %}
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
            <li class="breadcrumb-item active">Modelos de Switch</li>
          </ol>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Modelos
            </div>
            <div class="card-body">
              <table id="datatablesSimple" class="table table-striped">
                <thead class="table-dark">
                <tr>
                  <th>#</th>
                  <th>NOMBRE</th>
                  <th>MARCA</th>
                  <th>ACTIVO</th>
                  <th>OPCION</th>
                  <th>OPCION</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="modelswitch : ${modelswitch}">
                  <th scope="row" th:text="${modelswitch.id}">1</th>
                  <td th:text="${modelswitch.modelswitch}">neo</td>
                  <td th:text="${modelswitch.brand}">6</td>
                  <td th:text="${modelswitch.enabled} ? 'SI' : 'NO'">K</td>
                  <td>
                    <div>
                      <form  th:action="@{/editModelSwitch(id=${modelswitch.id})}" th:if="${user.typeuser} == 'admin'" method="post">
                        <button type="submit" class="btn btn-warning">EDITAR</button>
                      </form>
                    </div>
                  </td>
                  <td>
                    <div>
                      <form  th:action="@{/delete_model_switch(id=${modelswitch.id}, modelswitch=${modelswitch.modelswitch})}" method="post">
                        <button  type="submit" class="btn btn-danger">ELIMINAR</button>
                      </form>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-auto">
              <div class="card bg-success text-white mb-4">
                <div class="card-footer d-flex align-items-center justify-content-center">
                  <a class="medium text-white" href="/register-model-switch">Crear Modelo de Switch</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>