---
layout: default
title: "Gestionar Movimientos"
permalink: /movements-material
---

<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Movimiento de Materiales</h4>

                                <div class="d-flex table-responsive">
                                    <div class="btn-group mr-2" th:if="${user.typeuser} == 'admin'">
                                        <a class="btn btn-sm btn-primary" href="/register-movement" role="tab" aria-controls="home-2" aria-selected="true">
                                            <i class="mdi mdi-plus-circle-outline"></i> Crear
                                        </a>
                                    </div>
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                                    </div>
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
                                    </div>
                                </div>

                                <div class="table-responsive" style="padding-top: 20px;">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <!--<th>USUARIO</th>
                                            <th>CREADO</th>-->
                                            <th>S/N</th>
                                            <th># Parte</th>
                                            <th>Modelo</th>
                                            <th>Desc.</th>
                                            <th>Resp.</th>
                                            <th>R. Email</th>
                                            <th>Bodega</th>
<!--                                            <th>DESTINO</th>-->
                                            <th>Movimiento</th>
                                            <th>Sitio</th>
                                            <th>F. Entrada</th>
                                            <th>F. Salida</th>
                                            <th>F. Traslado</th>
                                            <th>F. Retorno</th>
                                            <th>Comentario</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  th:each="data : ${dataMovementsMaterial}">
                                            <th scope="row" th:text="${data.id}">Id</th>
                                            <!--<td th:text="${data.user}">usuario</td>
                                            <td th:text="${data.createdAt}">fecha de creacion</td>-->
                                            <td th:text="${data.material.sn}">S/N</td>
                                            <td th:text="${data.material.part}"># de Parte</td>
                                            <td th:text="${data.material.model}">modelo</td>
                                            <td th:text="${data.material.description}">description</td>
                                            <td th:text="${data.responsible.name}">Responsable</td>
                                            <td th:text="${data.responsible.email}">Correo</td>
                                            <td th:text="${data.store.name}">Bodega</td>
<!--                                            <td th:text="${data.destination.name}">Ubicacion</td>-->
                                            <td th:text="${data.typeMovement}">tipo de movimiento
                                            <td th:text="${data.siteId} != 8 ? ${data.siteId} : 'N/A' " >Site</td>
                                            <td th:text="${data.dateIn}">Fecha de Entrada</td>
                                            <td th:text="${data.dateOut}">Fecha de Salida</td>
                                            <td th:text="${data.dateTransfer}">Fecha de Traslado</td>
                                            <td th:text="${data.dateReturn}">Fecha de Retorno</td>
                                            <td th:text="${data.comment}">Comentario</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
