---
layout: default
title: "Gestion de Generadores"
permalink: /register-generator
---


<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">


                <!--vertical wizard-->
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Registro unico de Generadores</h4>
                                <form id="formRegisterGenerator" method="post"
                                      th:action="@{/register-generator}"
                                      th:object="${generatorRegisterDTO}">
                                    <div>
                                        <h3>Generador</h3>
                                        <section>
                                            <!--<h3 style="padding-bottom: 25px;">Generador</h3>-->

                                            <!-- Tank_Level-->
                                            <div class="form-group">
                                                <label for="tankLevelId">Cap. Tanque<span
                                                        style="color: red">*</span></label>
                                                <input id="tankLevelId" name="tankLevel" type="number"
                                                       class="required form-control" th:value="*{tankLevel}" required>
                                            </div>

                                            <!-- Site_id-->
                                            <div class="form-group">
                                                <label for="siteId">Sitio <span style="color: red">*</span></label>
                                                <div class="">
                                                    <select id="siteId" class="required form-control" style="width:100%"
                                                            th:value="*{siteId}" name="siteId"
                                                            required>
                                                        <option selected value="">Seleccione</option>
                                                        <option th:each="data:${sites}" th:text="${data.id}"
                                                                th:value="${data.id}"
                                                                th:selected="(${data.id} == ${generatorRegisterDTO.siteId})"></option>
                                                    </select>
                                                </div>
                                            </div>


                                            <!-- Province_id-->
                                            <div class="form-group">
                                                <label for="provinceId">Provincia <span
                                                        style="color: red">*</span></label>
                                                <div class="" style="padding-bottom: 25px;">
                                                    <select id="provinceId" class="required form-control"
                                                            style="width:100%"
                                                            th:value="*{provinceId}" name="provinceId"
                                                            required>
                                                        <option selected value="">Seleccione</option>
                                                        <option th:each="data:${provinces}" th:text="${data.name}"
                                                                th:value="${data.id}"
                                                                th:selected="(${data.id} == ${generatorRegisterDTO.provinceId})"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="hourMeterId">Horometro <span
                                                        style="color: red">*</span></label>
                                                <input type="number" id="hourMeterId" class="form-control" autofocus
                                                       name="hourMeter" th:value="*{hourMeter}" min="1"
                                                       th:errorClass="is-invalid" required>
                                                <small><span style="color: red">(*)</span>Campos Obligatorios</small>
                                            </div>

                                        </section>
                                        <h3>Detalles</h3>
                                        <section>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="IdCurrentLevel">Nivel Actual: <span
                                                                style="color: red">*</span></label>
                                                        <input type="number" id="IdCurrentLevel" class="form-control"
                                                               name="currentLevel" th:value="*{currentLevel}"
                                                               th:errorClass="is-invalid" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="hoursWorkedId">Horas Trabajadas: <span
                                                                style="color: red">*</span></label>
                                                        <input type="number" id="hoursWorkedId" class="form-control"
                                                               name="hoursWorked" th:value="*{hoursWorked}"
                                                               th:errorClass="is-invalid" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="IdRefill">Recarga: <span style="color: red">*</span></label>
                                                        <input type="number" id="IdRefill" class="form-control"
                                                               name="refill" th:value="*{refill}" min="1"
                                                               th:errorClass="is-invalid" required>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="IdEestimatedAmount">Monto Estimado: <span style="color: red">*</span></label>
                                                        <input type="number" min="1" step="0.01" id="IdEestimatedAmount"
                                                               class="form-control"
                                                               name="estimatedAmount" th:value="*{estimatedAmount}"
                                                               th:errorClass="is-invalid"
                                                               required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="dateRecharge">Fecha de Recarga: <span
                                                                style="color: red">*</span></label>
                                                        <input type="date" id="dateRecharge"
                                                               placeholder="start time"
                                                               min="2021-01-01" max="2100-12-31"
                                                               class="form-control"
                                                               th:value="*{date}" name="date"
                                                               required>

                                                    </div>
                                                </div>
                                            </div>





                                        </section>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
