---
layout: default
title: "Gestionar Movimiento"
permalink: /register-movement
---


<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row grid-margin">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Registro de Movimiento</h4>
                                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>

                                <!--<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="brandId" class="col-sm-3 col-form-label">Fabricante: <label
                                                    id="lb_brand" class="required-text"></label></label>
                                            <div class="col-sm-9">
                                                <select id="brandId" class="js-example-basic-single"
                                                        style="width:100%" th:value="*{brandId}" name="brandId"
                                                        required>
                                                    <option value="0" selected>Seleccione</option>
                                                    <option th:each="data:${dataBrand}" th:text="${data.name}"
                                                            th:value="${data.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="model" class="col-sm-3 col-form-label">Modelo: <label
                                                    id="lb_model" class="required-text"></label></label>
                                            <div class="col-sm-9">
                                                <select id="model" class="js-example-basic-single"
                                                        style="width:100%" th:value="*{model}" name="model"
                                                        required>
                                                    <option disabled="disabled" selected="selected" > &#45;&#45; modelo &#45;&#45;</option>
                                                    <option th:each="data:${dataModel}" th:text="${data.name}"
                                                            th:value="${data.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <form id="formMovement" class="form-sample" method="post" th:action="@{/register-movement}"
                                      th:object="${movementDTO}">
                                    <p class="card-description"></p>

                                    <!--Movimiento-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="typeMovement" class="col-sm-3 col-form-label">Tipo de Movimiento:
                                                    <label id="lb_type_movement"  class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="typeMovement" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{typeMovement}"
                                                            name="typeMovement" required>
                                                        <option selected>Seleccione</option>
                                                        <option value="SALIDA">SALIDA</option>
                                                        <option value="TRASLADO">TRASLADO</option>
                                                        <option value="RETORNO">RETORNO</option>
                                                        <option value="DESCARTE">DESCARTE</option>
                                                        <option value="RMA">RMA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="materialId" class="col-sm-3 col-form-label">Material: <label
                                                        id="lb_material" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="materialId" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{materialId}"
                                                            name="materialId" required>
                                                        <option selected>Seleccione</option>
                                                        <option th:each="dataMaterial:${dataMaterialList}"
                                                                th:text="${dataMaterial.sn}"
                                                                th:value="${dataMaterial.id}"
                                                                th:selected="(${dataMaterial.id} == ${movementDTO.materialId})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--Sitio & Bodega-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="siteId" class="col-sm-3 col-form-label">Sitio: <label
                                                        id="lb_site" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="siteId" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{siteId}" name="siteId"
                                                            required disabled>
                                                        <option selected>Seleccione</option>
                                                        <option th:each="data:${dataSite}" th:text="${data.id}"
                                                                th:value="${data.id}"
                                                                th:selected="(${data.id} == ${movementDTO.siteId})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="storeId" class="col-sm-3 col-form-label">Bodega: <label
                                                        id="lb_store" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="storeId" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{storeId}" name="storeId"
                                                            required disabled>
                                                        <option selected>Seleccione</option>
                                                        <option th:each="dataStore:${dataStore}"
                                                                th:text="${dataStore.name}"
                                                                th:value="${dataStore.id}"
                                                                th:selected="(${dataStore.id} == ${movementDTO.storeId})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Material & Responsable-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="responsibleId" class="col-sm-3 col-form-label">Responsable:
                                                    <label id="lb_responsible" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="responsibleId" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{responsibleId}"
                                                            name="responsibleId" required>
                                                        <option selected>Seleccione</option>
                                                        <option th:each="data:${dataResponsible}" th:text="${data.name}"
                                                                th:value="${data.id}"
                                                                th:selected="(${data.id} == ${movementDTO.responsibleId})"></option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="destinationId" class="col-sm-3 col-form-label">Bodega Destino:
                                                    <label id="lb_destination" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <select id="destinationId" class="js-example-basic-single"
                                                            style="width:100%" th:value="*{destinationId}"
                                                            name="destinationId" required>
                                                        <option selected></option>
                                                        <option th:each="data:${dataDestination}" th:text="${data.name}"
                                                                th:value="${data.id}"
                                                                th:selected="(${data.id} == ${movementDTO.destinationId})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>-->

                                    </div>


                                    <div class="row">
                                        <!--<div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="dateIn" class="col-sm-3 col-form-label">Fecha de Entrada:
                                                    <label class="required-text">*</label></label>
                                                <div class="col-sm-9">
                                                    <input type="date" id="dateIn"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{dateIn}" name="dateIn" disabled>
                                                </div>
                                            </div>
                                        </div>-->

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="dateReturn" class="col-sm-3 col-form-label">Fecha de
                                                    Retorno:
                                                    <label class="required-text">*</label></label>
                                                <div class="col-sm-9">
                                                    <input type="date" id="dateReturn"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{dateReturn}" name="dateReturn" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="dateOut" class="col-sm-3 col-form-label">Fecha de Salida:
                                                    <label class="required-text">*</label></label>
                                                <div class="col-sm-9">
                                                    <input type="date" id="dateOut"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{dateOut}" name="dateOut" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="dateOut" class="col-sm-3 col-form-label">Fecha de Traslado:
                                                    <label class="required-text">*</label></label>
                                                <div class="col-sm-9">
                                                    <input type="date" id="dateTransfer"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{dateTransfer}" name="dateTransfer" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="comment" class="col-sm-3 col-form-label">Comentario: <label
                                                        id="lb_comment" class="required-text"></label></label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="comment" class="form-control"
                                                           name="comment" th:value="*{comment}"
                                                           th:errorClass="is-invalid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="btnRegMovement"  class="btn btn-info mb-2">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>