---
layout: default
title: "Register Client"
permalink: /register-client
---

{% include navbarTop.html %}
<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/clients">Clientes</a></li>
                        <li class="breadcrumb-item active">Registrar Cliente</li>
                    </ol>
                </div>
                <div class="container">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row justify-content-center">
                            <div class="card px-0 pt-4 pb-0 mb-3">
                                <form id="basicform" method="post" th:action="@{/register-client}" th:object="${clientDTO}">
                                    <ul id="progressreg">
                                        <li class="reg" id="register"><strong>Cliente</strong></li>
                                        <li id="end"><strong></strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Informacion del Cliente</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 1</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
                                                <div class="form-row py-1">
                                                    <label>Ingrese el nombre: <label class="required-text">*</label></label>
                                                    <input type="text" placeholder="Nombre" class="form-control" name="name" th:value="*{name}" th:errorClass="is-invalid">
                                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label>Ingrese el telefono: <label class="required-text">*</label></label>
                                                    <input type="number" placeholder="Telefono" id="phone" class="form-control" name="phone" th:value="*{phone}" th:errorClass="is-invalid">
                                                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="invalid-feedback"></div>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label>Ingrese la direccion: <label class="required-text">*</label></label>
                                                    <input type="text" placeholder="Direccion" id="address" class="form-control" name="address" th:value="*{address}" th:errorClass="is-invalid">
                                                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label>Nota para este Cliente:</label>
                                                    <input type="text" placeholder="Nota" id="nota" class="form-control" name="nota" th:value="*{nota}" th:errorClass="is-invalid">
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="enabled" class="form-label">Activo: <label class="required-text">*</label></label>
                                                    <select name="enabled" id="enabled" class="form-select" th:value="*{enabled}" th:errorClass="is-invalid">
                                                        <option value="true">SI</option>
                                                        <option value="false">NO</option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="typeClientId" class="form-label">Tipo de Cliente: <label id="lb_type_client" class="required-text"></label></label>
                                                    <select id="typeClientId" class="form-select" th:value="*{typeClientId}" name="typeClientId" required>
                                                        <option selected></option>
                                                        <option th:each="typeClient:${typeClient}" th:text="${typeClient.type}"
                                                                th:value="${typeClient.id}" th:selected="(${typeClient.id} == ${clientDTO.typeClientId})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit"  class="action-button" value="GUARDAR"/>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>