---
layout: default
title: "Fabricante"
permalink: /register-brand
---

{% include navbarTop.html %}

<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/brand">Fabricantes</a></li>
                        <li class="breadcrumb-item active">Registrar Fabricante</li>
                    </ol>
                </div>
                <div class="container">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row justify-content-center">
                            <div class="card px-0 pt-4 pb-0 mb-3">
                                <form id="basicform" method="post" th:action="@{/register-brand}" th:object="${brandDTO}">
                                    <ul id="progressreg">
                                        <li class="reg" id="register"><strong>Fabricante</strong></li>
                                        <li id="end"><strong></strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Registrar Fabricante</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 1</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
                                                <div class="form-row py-1">
                                                    <label for="name">Modelo: <label class="required-text">*</label></label>
                                                    <input type="text" placeholder="Ingrese el nombre" id="name" class="form-control" name="name" th:value="*{name}" th:errorClass="is-invalid">
                                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                                                </div>

                                                <!--ENABLED-->
                                                <div class="form-row py-1">
                                                    <label for="enabled" class="form-label">Habilitado: <label id="lb_enabled" class="required-text"></label></label>
                                                    <select id="enabled" class="form-select" th:value="*{enabled}" name="enabled">
                                                        <option value="TRUE">SI</option>
                                                        <option value="FALSE">NO</option>
                                                    </select>
                                                    <div th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="action-button" value="GUARDAR"/>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>