---
layout: default
title: "Register Establishments"
permalink: /register-establishments
---

{% include navbarTop.html %}

<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/establishments">Sucursales</a></li>
                        <li class="breadcrumb-item active">Registrar Sucursal</li>
                    </ol>
                </div>
                <div class="container">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row justify-content-center">
                            <div class="card px-0 pt-4 pb-0 mb-3">
                                <form  id="msform" method="post" th:action="@{/register-establishments}" th:object="${establishmentsDTO}">
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>Cliente</strong></li>
                                        <li id="personal"><strong>Productos</strong></li>
                                        <li id="payment"><strong>Servicios</strong></li>
                                        <li id="confirm"><strong>Finalizar</strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Information de la Sucursal a Registrar:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Paso 1 - 3</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
                                                <div class="form-row py-1">
                                                    <label for="clientId" class="form-label">Seleccione el Cliente: <label id="lb_client" class="required-text"></label></label>
                                                    <select id="clientId" class="form-select" th:value="*{clientId}" name="clientId" required>
                                                        <option selected></option>
                                                        <option th:each="client:${client}" th:text="${client.name}"
                                                                th:value="${client.id}" th:selected="(${client.id} == ${establishmentsDTO.clientId})"></option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="inputProvince" class="form-label">Seleccione la Provincia: <label id="lb_province" class="required-text"></label></label>
                                                    <select class="form-select" id="inputProvince" th:value="*{province}" name="province" required>
                                                        <option selected></option>
                                                        <option th:each="province:${province}" th:text="${province.provincename}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="inputTypeBusiness" class="form-label">Seleccione el tipo de Negocio: <label id="lb_typebusiness" class="required-text"></label></label>
                                                    <select class="form-select" id="inputTypeBusiness" th:value="*{type}" name="type" required>
                                                        <option selected></option>
                                                        <option th:each="typebusiness:${typebusiness}" th:text="${typebusiness.name}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="inputTypeName" class="form-label">Escriba el nombre de la Sucursal: <label id="lb_name"  class="required-text"></label></label>
                                                    <input type="text" class="form-control" id="inputTypeName" placeholder="Ej: Sucursal 01" th:value="*{nameestablishment}" name="nameestablishment" required>

                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="status" class="form-label">La sucursal esta Activa: <label id="lb_status" class="required-text"></label></label>
                                                    <select id="status" class="form-select" th:value="*{status}" name="status" required>
                                                        <option value="TRUE">SI</option>
                                                        <option value="FALSE">NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> <input type="button" name="next" class="next action-button" value="Siguiente" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Informacion del Producto:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Paso 2 - 3</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="form-row py-1">
                                                    <label for="inputProduct" class="form-label">Seleccione el tipo de producto: <label class="required-text">*</label></label>
                                                    <select class="form-select" id="inputProduct" th:value="*{product}" name="product">
                                                        <option th:each="product:${product}" th:text="${product.name}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="purpple" class="form-label">Seleccione si tiene portal avanzado: <label class="required-text">*</label></label>
                                                    <select id="purpple" class="form-select" th:value="*{purpple}" name="purpple">
                                                        <option value="FALSE">NO</option>
                                                        <option value="TRUE">SI</option>
                                                    </select>
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="inputDateSend">Seleccione la fecha de envio: <label class="required-text">*</label></label>
                                                    <input type="date" id="inputDateSend"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{datesend}" name="datesend">
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="inputDateUp">Seleccione la fecha cuando entro operativo:</label>
                                                    <input type="date" id="inputDateUp"
                                                           placeholder="start time"
                                                           min="2021-01-01" max="2100-12-31"
                                                           class="form-control"
                                                           th:value="*{dateoperative}" name="dateoperative">
                                                </div>
                                                <div class="form-row py-1">
                                                    <label for="selectorInventory">Seleccione el año del inventario: <label class="required-text">*</label></label>
                                                    <select id='selectorInventory' class="form-select" th:value="*{inventory}" name="inventory" ></select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Siguiente" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Servicio Contratado</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 3 - 3</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="form-row py-1">

                                                    <label for="lastmille" class="form-label">Seleccione la ultima milla de la Sucursal: <label class="required-text">*</label></label>
                                                    <select id="lastmille" class="form-select" th:value="*{lastmille}" name="lastmille">
                                                        <option >HFC</option>
                                                        <option >FIBRA</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="bg-light p-3 border">
                                            <div class="col">
                                                <label for="selector" id="lbcantAP" class="form-label" >Seleccione la cantidad de APs: <label class="required-text">*</label></label>
                                                <select id='selector' class="form-select" ></select>

                                                <label for="modelap" id='lbmodelAP' class="form-label">Seleccione el Modelo de AP: <label class="required-text">*</label></label>
                                                <select id="modelap" class="form-select">
                                                    <option selected></option>
                                                    <option th:each="aps:${aps}" th:text="${aps.modelap}"></option>
                                                </select>
                                                <label for="selectorPoe" class="form-label">Seleccione la cantidad de PoE:</label>
                                                <select id='selectorPoe' class="form-select"></select>

                                                <label for="modelswitch" class="form-label">Seleccione el modelo de Switch:</label>
                                                <select id="modelswitch" class="form-select">
                                                    <option >N/A</option>
                                                    <option th:each="switch:${switch}" th:text="${switch.modelswitch}"></option>
                                                </select>

                                                <label for="selectorSwitch" class="form-label">Seleccione la cantidad de Switch:</label>
                                                <select id='selectorSwitch' class="form-select" ></select>
                                            </div>
                                        </div>
                                        <div class="bg-light p-3 border">
                                            <div class="col">
                                                <button type="button" class="btn btn-success" onclick="add()">Agregar</button>
                                            </div>
                                            <div class="col">

                                            </div>
                                            <table id="mytable" class="table table-striped">
                                                <thead class="table-dark">
                                                <tr>
                                                    <th>CANTIDAD DE APs</th>
                                                    <th>MODELO DE AP</th>
                                                    <th>CANTIDAD DE PoE</th>
                                                    <th>MODELO DE SWITCH</th>
                                                    <th>CANTIDAD DE SWITCH</th>
                                                    <th>OPCION</th>
                                                </tr>
                                                </thead>
                                                <tbody id="table_detail_establish">

                                                </tbody>
                                            </table>

                                            <input type="submit"  class="action-button" value="GUARDAR"/>
                                            <input type="button" name="previous" class="previous action-button-previous" value="anterior" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>