---
layout: default
title: "register Meraki"
permalink: /register-meraki
---

{% include navbarTop.html %}
<div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include navbarSide.html %}
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/authenticated">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/ordersMeraki">Ordenes Portal</a></li>
                        <li class="breadcrumb-item active">Registro de Orden Meraki</li>
                    </ol>
                </div>

                <div class="container">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row justify-content-center">
                            <div class="card px-0 pt-4 pb-0 mb-3">
                                <form id="basicform" method="post" th:action="@{/register-meraki}" th:object="${orderLicensesMerakiDTO}" >
                                    <ul id="progressreg">
                                        <li class="reg" id="register"><strong>Producto</strong></li>
                                        <li id="end"><strong></strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Registra Orden Meraki</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 1</h2>
                                                </div>
                                            </div>
                                            <div class="bg-light p-3 border">
                                                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
                                                <div class="form-row py-1">
                                                    <div class="col-5">
                                                        <label for="ordernumber">Numero de Orden: <label class="required-text">*</label></label>
                                                        <input type="text" placeholder="Ingrese el numero de Orden" id="ordernumber" class="form-control" name="ordernumber" th:value="*{ordernumber}" th:errorClass="is-invalid">
                                                        <div th:if="${#fields.hasErrors('ordernumber')}" th:errors="*{ordernumber}" class="invalid-feedback"></div>
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="countlicenses">Cantidad de Licencias: <label class="required-text">*</label></label>
                                                        <input type="number" placeholder="Ingrese la cantidad de licencias" id="countlicenses" class="form-control" name="countlicenses" th:value="*{countlicenses}" th:errorClass="is-invalid">
                                                        <div th:if="${#fields.hasErrors('countlicenses')}" th:errors="*{countlicenses}" class="invalid-feedback"></div>
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="datepurchase">Fecha de Compra: <label class="required-text">*</label></label>
                                                        <input type="date" id="datepurchase"
                                                               placeholder="start time"
                                                               min="2021-01-01" max="2100-12-31"
                                                               class="form-control"
                                                               th:value="*{datepurchase}" name="datepurchase">
                                                    </div>

                                                </div>
                                                <div class="form-row py-1">
                                                    <div class="col-3">
                                                        <label for="dateexpiration">Fecha de Expiración: <label class="required-text">*</label></label>
                                                        <input type="date" id="dateexpiration"
                                                               placeholder="start time"
                                                               min="2021-01-01" max="2100-12-31"
                                                               class="form-control"
                                                               th:value="*{dateexpiration}" name="dateexpiration">
                                                    </div>
                                                    <div class="col-3">
                                                        <label for="facturenumber">Factura N°: <label class="required-text">*</label></label>
                                                        <input type="facturenumber" placeholder="Ingrese el numero de factura" id="facturenumber" class="form-control" name="facturenumber" th:value="*{facturenumber}" th:errorClass="is-invalid">
                                                        <div th:if="${#fields.hasErrors('facturenumber')}" th:errors="*{facturenumber}" class="invalid-feedback"></div>
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="ponumber">PO: <label class="required-text">*</label></label>
                                                        <input type="ponumber" placeholder="Ingrese la PO" id="ponumber" class="form-control" name="ponumber" th:value="*{ponumber}" th:errorClass="is-invalid">
                                                        <div th:if="${#fields.hasErrors('ponumber')}" th:errors="*{ponumber}" class="invalid-feedback"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <input type="submit" class="action-button" value="GUARDAR"/>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>