---
layout: default
title: "Administracion Usuarios"
permalink: /users
---

<div class="container-scroller">

    {% include container.html %}


    {% include navbarTop.html %}

    <div class="container-fluid page-body-wrapper">

        {% include navbarSide.html %}

        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Administración de Usuaurios</h4>

                                <div class="d-flex table-responsive">
                                    <div class="btn-group mr-2" th:if="${user.typeuser} == 'admin'">
                                        <a class="btn btn-sm btn-primary" href="/register" role="tab" aria-controls="home-2" aria-selected="true">
                                            <i class="mdi mdi-plus-circle-outline"></i> Crear
                                        </a>
                                    </div>
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                                    </div>
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                                        <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
                                    </div>
                                </div>

                                <div class="table-responsive" style="padding-top: 20px;">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Usuario</th>
                                            <th>Perfil</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Activo</th>
                                            <!--<th>opcion</th>
                                            <th>opcion</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  th:each="usersall : ${usersall}">
                                            <th scope="row" th:text="${usersall.id}">1</th>
                                            <td th:text="${usersall.username}">neo</td>
                                            <td th:text="${usersall.typeuser}">npx</td>
                                            <td th:text="${usersall.firstname}">6</td>
                                            <td th:text="${usersall.lastname}">Otto</td>
                                            <td th:text="${usersall.enabled} ? 'SI' : 'NO'">K</td>
                                            <!--<td><a th:href="@{/toEdit(id=${usersall.id})}" th:if="${user.typeuser} == 'admin'">editar</a></td>
                                            <td><a th:href="@{/delete(id=${usersall.id})}" th:if="${user.typeuser} == 'admin'">eliminar</a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
