<!DOCTYPE html>
<html lang="en-US"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Changepassword - Wifi Dashboard</title>
<!--  <link rel="stylesheet" href="assets/css/login.css">-->
<!--  <link rel="stylesheet" href="assets/css/register.css">-->


  <link rel="shortcut icon" href="assets/template/images/cloud.svg" />
  <link rel="stylesheet" href="/assets/template/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/template/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/template/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="/assets/template/css/vertical-layout-light/style.css">



</head>

<body>

<!--  <div class="container-scroller">-->
<!--    <div class="container-fluid page-body-wrapper">-->



  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="assets/images/tigo.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">


                        <form th:action="@{/changepassword}" th:object="${changepasswordDTO}" method="post" style="max-width: 350px; margin: 0 auto;">
                            <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
                            <div class="border border-secondary rounded p-3">
                                <!-- <div th:if="${message != null}" class="m-3">

                                </div>-->

                                <div>
                                    <div class="form-group">
                                        <input type="password" name="password"  class="form-control"  placeholder="Contraseña"  required th:value="*{password}" th:errorClass="is-invalid" />
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="npassword"  class="form-control"  placeholder="Nueva contraseña" required th:value="*{npassword}" th:errorClass="is-invalid"/>
                                        <div th:if="${#fields.hasErrors('npassword')}" th:errors="*{npassword}" class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="rpassword"  class="form-control" placeholder="Confirmar contraseña" required th:value="*{rpassword}"  th:errorClass="is-invalid"/>
                                        <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>
                                    </div>
                                    <p class="text-center">
                                        <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





<!--    </div>-->

<!--  </div>-->
  <!-- plugins:js -->
  <script src="assets/template/vendors/js/vendor.bundle.base.js"></script>
  <script src="assets/template/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->

  <script src="/assets/template/js/off-canvas.js"></script>
  <script src="/assets/template/js/hoverable-collapse.js"></script>
  <script src="/assets/template/js/template.js"></script>
  <script src="/assets/template/js/settings.js"></script>
<!--  <script src="/assets/template/js/todolist.js"></script>-->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src=" /assets/template/js/dashboard.js"></script>
  <script src=" /assets/template/js/data-table.js"></script>
  <script src=" /assets/template/js/typeahead.js"></script>
  <script src=" /assets/template/js/select2.js"></script>
  <script src=" /assets/template/js/file-upload.js"></script>
  <script src=" /assets/template/js/validate.js"></script>
  <script src=" /assets/template/js/validate-date-movements.js"></script>
<!-- <script src=" /assets/template/js/search-data.js"></script>-->
  <script src=" /assets/template/js/modal_material.js"></script>
  <script src=" /assets/template/js/alerts.js"></script>
  <script src=" /assets/template/js/avgrund.js"></script>
  <script src=" /assets/template/js/swal-confirm.js"></script>
  <script src=" /assets/template/js/form-validation.js"></script>
  <script src=" /assets/template/js/bt-maxLength.js"></script>
  <script src=" /assets/js/charts-wifi.js"></script>
  <script src=" /assets/template/js/morris.js"></script>
  <script src=" /assets/template/js/chartist.js"></script>
  <script src=" /assets/template/js/chart.js"></script>
<script src=" /assets/template/js/js-grid.js"></script>
<script src=" /assets/template/js/db.js"></script>
  <!-- End custom js for this page-->


</body>
</html>

