<!DOCTYPE html>
<html lang="en-US"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>login wifi hlamos - Wifi Dashboard</title>
<!--  <link rel="stylesheet" href="assets/css/login.css">-->
<!--  <link rel="stylesheet" href="assets/css/register.css">-->


  <link rel="shortcut icon" href="assets/template/images/cloud.svg" />
  <link rel="stylesheet" href="/assets/template/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/template/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/template/vendors/css/vendor.bundle.addons.css">

  <link rel="stylesheet" href="/assets/template/css/vertical-layout-light/style.css">

</head>

<body>

<!--  <div class="container-scroller">-->
<!--    <div class="container-fluid page-body-wrapper">-->



  <div class="row justify-content-center">
  <div class="col col-md-6 text-center">
    <h3 class="login-heading mb-4">Login</h3>
    <form method="post" th:action="@{/login}">
      <!--            <h1 class="display-4 py-4">Iniciar Sesion</h1>-->
      <div class="alert alert-danger text-center" th:if="${param.error}">
        Invalido usuario y contraseña
      </div>
      <div class="alert alert-success text-center" th:if="${param.logout}">
        usted ha sido desconectado
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user text-info"></i>
                    </span>
        </div>
        <input type="text" class="form-control" name="username" placeholder="usuario">
      </div>
      <div class="input-group my-3">
        <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock text-info"></i>
                    </span>
        </div>
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Iniciar Sesion</button>
      <!--            <button type="submit" class="btn  btn-primary btn-block">Iniciar Sesion</button>-->
    </form>
  </div>
</div>


<!--    </div>-->

<!--  </div>-->

  <!-- plugins:js -->
  <script src="assets/template/vendors/js/vendor.bundle.base.js"></script>
  <script src="assets/template/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->

  <script src="/assets/template/js/off-canvas.js"></script>
  <script src="/assets/template/js/hoverable-collapse.js"></script>
  <script src="/assets/template/js/template.js"></script>
  <script src="/assets/template/js/settings.js"></script>
<!--  <script src="/assets/template/js/todolist.js"></script>-->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src=" /assets/template/js/dashboard.js"></script>
  <script src=" /assets/template/js/data-table.js"></script>
  <script src=" /assets/template/js/typeahead.js"></script>
  <script src=" /assets/template/js/select2.js"></script>
  <script src=" /assets/template/js/file-upload.js"></script>
  <script src=" /assets/template/js/validate.js"></script>
  <script src=" /assets/template/js/validate-date-movements.js"></script>
<!-- <script src=" /assets/template/js/search-data.js"></script>-->
  <script src=" /assets/template/js/modal_material.js"></script>
  <script src=" /assets/template/js/alerts.js"></script>
  <script src=" /assets/template/js/avgrund.js"></script>
  <script src=" /assets/template/js/swal-confirm.js"></script>
  <script src=" /assets/template/js/form-validation.js"></script>
  <script src=" /assets/template/js/bt-maxLength.js"></script>
  <script src=" /assets/js/charts-wifi.js"></script>
  <script src=" /assets/template/js/morris.js"></script>
  <script src=" /assets/template/js/chartist.js"></script>
<script src=" /assets/template/js/chart.js"></script>
  <!-- End custom js for this page-->


</body>
</html>

